<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.tpgestionprojet.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>VisiteurServlet</servlet-name>
    <servlet-class>com.tpgestionprojet.servlet.VisiteurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisiteurServlet</servlet-name>
    <url-pattern>/Partage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OffreServlet</servlet-name>
    <servlet-class>com.tpgestionprojet.servlet.OffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OffreServlet</servlet-name>
    <url-pattern>/offres</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListeLiensServlet</servlet-name>
    <servlet-class>com.tpgestionprojet.servlet.ListeLiensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeLiensServlet</servlet-name>
    <url-pattern>/Offr</url-pattern>
  </servlet-mapping>
  
</web-app>